.scenario {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    vertical-align: top;
}

.success {
    color: green;
}

.failure {
    color: red;
}

.exception {
    font-family: monospace;
}

.stack-trace {
    padding-left: 2em;
}